@import 'tailwindcss';

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}
body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-shadow-fametonic {
  text-shadow: 0px 4px 4px #fc004e;
}

.button-shadow-fametonic {
  box-shadow: 2px 2px 10px 0px #00e7f9;
}
